<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')  }}" rel="stylesheet">
    <link href="{{ url_for('static',filename = 'css/index.css')  }}" rel="stylesheet">

    <title>Credit Score Classification</title>

<link href=<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href=<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&family=Roboto&display=swap" rel="stylesheet">
<link href=<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Poppins:ital,wght@0,500;0,700;1,400&family=Roboto&display=swap" rel="stylesheet">
<link href=<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Poppins:ital,wght@0,500;0,700;1,400;1,800&family=Roboto&display=swap" rel="stylesheet">
</head>          

<body>
      <div class="home">
            <nav>
                <a href="/Models">Models</a>
                <a href="/Mini">Mini Projects</a>
                <a href="/Feedback">Feedback</a>
                <a href="/About">About</a>
                <a href="/Description">Description</a>
            </nav>
      </div>

<img style="max-height: 250px; width:100%;" src="{{ url_for('static',filename = 'image/PIET logo with tagline.jpg')  }}" 
             class="img-responsive" style="margin-top:0px;style=width: auto; height: 250px; min-width:100%; min-height: 250px;">
<div class="banner-area">
  <h3>Credit Score Classifiction</h3>
  <h2>A credit score is an indicator of a person’s <span class="typed2"></span></h2>
  <a href="/Models">Models</a>
</div>

<br><br><br><br><br>
    <div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 40px;">

            <marquee style="background-color:White; color:Red; margin-top: 7px;">
                <h9>Developed by Abhishek Kumar Singh, Department of Computer Engineering, PIET</h9>
            </marquee>
        </div>
    </div>
    <!-- change later-->
    <script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>

 <script src="{{ url_for('static',filename = 'js/typed.js')  }}"></script>
<script>
 var typed = new Typed('.typed2', {
  strings: ["creditworthiness.", "ability to repay."],
  typeSpeed: 40,
  backspeed: 40,
  loop: true
});

</script>

<div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 40px;">

            <marquee style="color:#fff; margin-top: 7px;">
                <h9>Developed by Abhishek Kumar Singh, PIET</h9>
            </marquee>
        </div>
    </div>

</body>
</html>
