<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/boovtstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS --> 
    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')  }}" rel="stylesheet">

    <title>MCredit Score Classification</title>

</head>

<body style="background-color= #000;">
    <nav style="width: 100%;" class="navbar navbar-dark bg-secondary">
        <a class="  navbar-brand" href="#" style="margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-botttom: 0px;">
             <img style="max-height: auto; width:100%; border-radius: 25px;" src="{{ url_for('static',filename = 'image/PIET logo with tagline.jpg')  }}" 
             class="img-responsive" style="margin-top:0px;style=width: auto; height: auto; min-width:100%; min-height: auto;">
              <a href="/" style="color: red; margin-right: 10px;">HOME</a>
            
      </div>
           
        </a>
        
    </nav> 
 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:white;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: Black; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 37px;">Decision Tree</h2>
                        <a href="https://abhishek5212-abhishek-decision-tree-streamlit-app-pkrvfn.streamlitapp.com/"><input class="btn btn-primary" type="button" value="Checkout" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/1.png')  }}">
                        <h3 style="font-family: fantasy;color: red;position: relative; left: 492px; bottom: 49px; font-size: 21px;">QR Scan for Project</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:white;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: Black; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 37px;">Natural Language Processing</h2>
                        <a href="https://abhishek5212-abhishek-nlp-streamlit-app-hqbb0m.streamlitapp.com/"><input class="btn btn-primary" type="button" value="Checkout" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/2.png')  }}">
                        <h3 style="font-family: fantasy;color: red;position: relative; left: 492px; bottom: 49px; font-size: 21px;">QR Scan for Project</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:white;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: Black; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 35px;">Project 3 Social Network</h2>
                        <a href="https://abhishek5212-abhishek-project-3-decisiontree-streaml-app-tclptv.streamlitapp.com/"><input class="btn btn-primary" type="button" value="Checkout" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/3.png')  }}">
                        <h3 style="font-family: fantasy;color: red;position: relative; left: 492px; bottom: 49px; font-size: 21px;">QR Scan for Project</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:white;left: 250px;top: 20px;border-width: 3px;border-radius: 40px;border-color: Black; width:800px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 37px;">Project 5</h2>
                        <a href="https://abhishek5212-abhishek-project-5-streamlit-app-tw843n.streamlitapp.com/"><input class="btn btn-primary" type="button" value="Checkout" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 350px; bottom: 52px"src="{{ url_for('static',filename = 'image/4.png')  }}">
                        <h3 style="font-family: fantasy;color: red;position: relative; left: 592px; bottom: 49px; font-size: 21px;">QR Scan for Project</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:white;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: black; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 37px;">SVM and Random Forest</h2>
                        <a href="https://abhishek5212-abhishek-svm-forest-streamlit-app-uj8q94.streamlitapp.com/"><input class="btn btn-primary" type="button" value="Checkout" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/5.png')  }}">
                        <h3 style="font-family: fantasy;color: red;position: relative; left: 492px; bottom: 49px; font-size: 21px;">QR Scan for Project</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:white;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: black; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 4px; top: 20px; font-size: 37px;">House Prediction</h2>
                        <a href="https://abhishek-multi-var-regg.herokuapp.com/"><input class="btn btn-primary" type="button" value="Checkout" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/6.png')  }}">
                        <h3 style="font-family: fantasy;color: red;position: relative; left: 492px; bottom: 49px; font-size: 21px;">QR Scan for Project</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:white;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: black; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 55px; top: 20px; font-size: 37px;">Churn Model</h2>
                        <a href="https://abhishek-churn-model.herokuapp.com/"><input class="btn btn-primary" type="button" value="Checkout" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/7.png')  }}">
                        <h3 style="font-family: fantasy;color: red;position: relative; left: 492px; bottom: 49px; font-size: 21px;">QR Scan for Project</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:white;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: black; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 55px; top: 20px; font-size: 37px;">Titanic Prediction</h2>
                        <a href="https://abhishek-titanic-flask.herokuapp.com/"><input class="btn btn-primary" type="button" value="Checkout" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/8.png')  }}">
                        <h3 style="font-family: fantasy;color: red;position: relative; left: 492px; bottom: 49px; font-size: 21px;">QR Scan for Project</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:white;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: black; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 55px; top: 20px; font-size: 37px;">Placement Prediction</h2>
                        <a href="https://abhishek-projext-6.herokuapp.com/"><input class="btn btn-primary" type="button" value="Checkout" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/9.png')  }}">
                        <h3 style="font-family: fantasy;color: red;position: relative; left: 492px; bottom: 49px; font-size: 21px;">QR Scan for Project</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>

 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3 "; style="background-color:white;left: 300px;top: 20px;border-width: 3px;border-radius: 40px;border-color: black; width:700px; height: 300px;">
                    <div class="card-body">
                        <h2 style="text-align: left;font-family: fantasy;position: relative; left: 55px; top: 20px; font-size: 37px;">Mall Customer</h2>
                        <a href="https://abhishek-project-7.herokuapp.com/"><input class="btn btn-primary" type="button" value="Checkout" style="border-radius: 14px;position: relative; left: 125px; font-size: 18px;"/></a>
                        <img style="width: 270px; height: 250px;position: relative; left: 260px; bottom: 52px"src="{{ url_for('static',filename = 'image/10.png')  }}">
                        <h3 style="font-family: fantasy;color: red;position: relative; left: 492px; bottom: 49px; font-size: 21px;">QR Scan for Project</h3>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <br>



    <br><br><br><br><br><br
    
   <br>
   <br>
                
     <br>
     <br>
     <br><br><br><br><br><br>
    
    
    
    <div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 40px;">

            <marquee style="color:#fff; margin-top: 7px;">
                <h9>Developed by Abhishek Kumar Singh, Department of Computer Engineering, PIET</h9>
            </marquee>
        </div>
    </div>
    <div class="col-md-12">
              <center><h3 class="section-title" style="text-align: center;">Sponsored by</h3></center>
            </div>
          
          <br>
          <br>
    
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3">
            
                    <div class="card">
                        <img style="max-height: 200px;" src="{{ url_for('static',filename = 'image/AICTEIdeaLabFooterLogo.png')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">IDEA LAB</h5>
                            
                        </div>
            
            
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3">
            
                    <div class="card">
                        <img style="max-height: 200px;" src="{{ url_for('static',filename = 'image/nbanew.png')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">NBA</h5>
                            
                        </div>
            
            
                    </div>
                </div>
            </div>
            
            <div class="col-xs-10 col-md-3">
                <div class="card mb-3">

                    <div class="card">
                        <img style="max-height: 200px;"
                            src="{{ url_for('static',filename = 'image/aicte-logo.png')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"; style="text-align:center">AICTE MODROB DEEP LEARNING LAB</h5>
                            
                        </div>

                    </div>

                </div>
            </div>
        
               
    
    <br><br><br><br><br>
    <div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 40px;">

            <marquee style="color:#fff; margin-top: 7px;">
                <h9>Developed by Abhishek Kumar Singh, PIET</h9>
            </marquee>
        </div>
    </div>
    <!-- change later-->
    <script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>
</body>

</html>
